

.skillslogo{  
    font-style: sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px #ffffff;
    padding-left: 2%;
    font-size: 16px;
    
}

body {
    background-image: url("img_tree.gif"), url("paper.gif");
    background-repeat: no-repeat, repeat;
    
    
  }
section{
    
margin-top: 4%;
font-size: 18px;
padding-left: 25%;
padding-right: 20%;


}
.heading{
    font-size: 45px;
    line-height: 0.7;
}


.proficiency{
    padding-left: 25%;
padding-right: 45%;
font-size: 18px;
        line-height: 0;


}


.propy{
    font-size: 45px;
        line-height: 0.7;
    }
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
   
  border-radius: 25px;
  border: 2px solid;
 
 
  }

.html {width: 90%; background-color: #ee8c3c;
    border: 2px;   
    

}
.css {width: 80%; background-color: #2196F3;
    border: 2px;}
.js {width: 65%; background-color: #66ff48;
    border: 2px;
}
    
.container{
    border-radius: 25px;
  border: 2px solid #73AD21;
}


// Css for contact me page 





